.page.sidebar-2-page {
  background: #fefefe;
}

.sidebar-2 {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 260px; /* Ancho fijo para mantenerlo siempre abierto */
  height: 100%;
  background: #d20a11;
}

.sidebar-2 .inner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #d20a11;
}

.sidebar-2 header {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 6px;
  background: #ffffff; /* Fondo blanco para el logo */
 /* Borde inferior */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para dar más definición */
}

.sidebar-2 nav {
  flex: 1; /* Hace que el nav ocupe el espacio disponible */
  display: grid;
  padding: 6px;
  gap: 2px;
}

.sidebar-button {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 44px;
  width: 100%;
  font-family: "Poppins";
  font-size: 16px;
  text-transform: capitalize;
  line-height: 1;
  padding: 0 12px;
  border-radius: 8px;
  color: #ffffff;
  background: none;
  border: none;
}

.sidebar-button:hover {
  background: rgb(0 0 0 / 30%);
}

.sidebar-button p {
  opacity: 1;
  transition: 0.3s;
}

.sidebar-2.open .sidebar-button p {
  opacity: 1;
}

.sidebar-link {
  text-decoration: none;
  color: inherit;
}

.sidebar-link.active .sidebar-button {
  background: rgba(255, 255, 255, 0.1);
}

.sidebar-footer {
  padding: 10px;
  text-align: center;
  background: #ffffff; /* Fondo blanco */
   /* Borde superior */
}
