/* En tu archivo styles.css */
body {
  margin: 0; /* Asegura que no haya ningún margen */
  padding: 0; /* Asegura que no haya ningún relleno */
  background-image: url('https://images.pexels.com/photos/3807738/pexels-photo-3807738.jpeg');
  background-size: cover; /* Cubre toda la página */
  background-position: center; /* Centra la imagen */
  filter: opacity(0.7); /* Aplica un filtro para opacar la imagen */
}