/* Estilo para el contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #00ced1;
}

.charts-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

.chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.circle-chart {
  width: 20rem;  /* Aumenta el tamaño del círculo */
  height: 20rem; /* Aumenta el tamaño del círculo */
  border-radius: 50%;
  background: conic-gradient(var(--color) calc(var(--value) * 1%), transparent 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.circle-chart::before {
  content: '';
  position: absolute;
  width: 18rem;  /* Aumenta el tamaño del fondo interno */
  height: 18rem; /* Aumenta el tamaño del fondo interno */
  background: #706f6f; /* Fondo interno del círculo */
  border-radius: 50%;
  z-index: 1;
}

.circle-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.circle-value {
  color: white;
  font-size: 3rem; /* Aumenta el tamaño del texto del valor */
}

.circle-label {
  color: white;
  font-size: 1.5rem; /* Aumenta el tamaño del texto de la etiqueta */
}

.circle-chart.green {
  --color: #2f922f;
}

.circle-chart.yellow {
  --color: #f1c40f;
}

.circle-chart.red {
  --color: #e74c3c;
}

/* Estilo para el botón */
.btn-warning {
  background-color: #d20a11;
  border: none;
  color: #ffffff; 
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center; /* Centrar el texto horizontalmente */
  align-items: center; /* Centrar el texto verticalmente */
  
}

/* Estilo para el botón en hover */
.btn-warning:hover {
  background-color: #ffffff;
  color: #000;
}

/* Asegurar que los elementos estén alineados correctamente */
.text-center {
  text-align: center;
}

/* Estilo para el contenedor de búsqueda */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Estilo para el campo de entrada */
.search-container input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

/* Estilo para el botón de búsqueda */
.search-container .btn-warning {
  margin-left: 10px;
}
