.app {
  display: flex; /* Cambiado de grid a flex */
  height: 100vh; /* Toma toda la altura de la pantalla */
}

.nav {
  width: 260px; /* Ancho del navbar */
  background: #2ab47ba4; /* Color de fondo del navbar */
}

.content {
  flex: 1; /* El contenido ocupa todo el espacio restante */
  /* background: #000000; /* Cambiado a color negro */
  /* color: #ffffff; Color de texto blanco */
  /* overflow-y: auto; Permite desplazamiento vertical si el contenido es largo */ 
}
